#pagina {
	background-color: white;
}

#barra {
	display: flex;
	width: 100%;
	background-color: #044384;
}

#logo {
	display: flex;
	width: 20%;
}

#menu {
	display: flex;
	width: 80%;
	background-color: #044384;
	color: white;
	font-family: Arial;
	align-items: center;
	justify-content: right;
	margin-right: 20px;
}

#conteudo {
	display: flex;
	height: 700px;
	background-color: gray;
	align-items: center;
	justify-content: center;
}

#rodape {
	display: flex;
	height: 100px;
	background-color: #044384;
	color: white;
	justify-content: center;
	font-family: Arial;
	font-weight: bold;
	align-items: center;	
}

.login{
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 30%;
	background-color: white;
	border: 10px solid #044384;
	padding: 20px;
}

.barra{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.campo{
	font-family: Arial;
	font-size: 24px;
}

.entrada{
	font-family: Arial;
	font-size: 24px;
	width: 150px;	
}

.botao{
	border: none;
	background-color: #008000;
	color: white;
	padding: 20px 40px;
	font-size: 16px;
	font-weight: bold;
}

.div-entrada{
	display: flex;
	justify-content: center;
	margin: 10px;
}

a:link {
  color:white;
  text-decoration:none;
}

a:visited {
  color:white;
  text-decoration:none;
}

a:hover {
  color:orange;
  text-decoration:underline;
}

a:active {
  color:white;
  text-decoration:underline;
  background-color:#000000;
}
